<!DOCTYPE html>
<html>
<head>
    <title>Simple Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui container">

        <a href="/portfolio"><button class="ui positive button">Portfolio</button></a></td>

        <h1>Asset List</h1>
        <table class="ui selectable striped celled table">
            <tr>    
                <th>Symbol</th>
                <th>Name</th>
                <th>Exchange</th>
            </tr>

            {% for asset in assets %}
            
            <tr>
                <td>{{asset.symbol}}</td>
                <td>{{asset.name}}</td>
                <td>{{asset.exchange}}</td>
                <td><a href="/asset/{{asset.symbol}}"><button class="ui button">Details</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>